.button {
  position: relative;
  display: inline-block;
  overflow: hidden;

  .ripple .ripple-span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: $color-theme;
    border-radius: 50%;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1),
      border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
  }

  &:hover .ripple .ripple-span {
    border-radius: 0;
    transform: translateY(0);
    transition-duration: 0s, 0s;
    animation: ripple-in 0.5s cubic-bezier(0.4, 0, 0, 1);
  }

  &.-skew {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
  }

  &.-skew span {
    color: transparent;
    display: inline-block;
    transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &.-skew:hover span {
    transform: translateY(-105%);
  }

  &.-skew span::after,
  &.-skew span::before {
    content: attr(data-text);
    display: block;
    position: absolute;
    color: $white;
  }

  &.-skew span::after {
    top: 105%;
    transform: skewY(7deg);
    transform-origin: left top;
    transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &.-skew span::before {
    top: 0;
    transform: skewY(0);
    transform-origin: right bottom;
    transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &.-skew:hover {
    span::before {
      transform: skewY(7deg);
    }
    span:after {
      transform: skewY(0);
    }
  }

  .button-title-wrapper {
    position: relative;
    top: -1px;
    overflow: hidden;
  }
  &.-outline {
    background-color: transparent;
    font-size: 1rem;
  }

  &.-outline::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px $white solid;
    border-radius: 5rem;
    transition: border-color 0.2s;
    z-index: -1;
  }

  &.-outline[data-magnetic]::before {
    content: "";
    display: block;
    position: absolute;
    top: -3rem;
    left: -3rem;
    right: -3rem;
    bottom: -3rem;
  }
}

@keyframes ripple-in {
  0% {
    border-radius: 100%;
    transform: translateY(-100%) translateZ(0);
  }

  100% {
    border-radius: 0;
    transform: translateY(0) translateZ(0);
  }
}
