.caption {
  position: relative;
  width: 100%;
  display: block;
  text-transform: uppercase;
  .caption-line-wrap {
    position: relative;
    display: block;
    width: 100%;
    display: block;
    overflow: hidden;
    .text-line {
      transform-origin: top left;
      position: relative;
      display: block;
    }
  }
  &.h1 {
    font-size: 14rem;
    letter-spacing: -0.1rem;
  }
  &.h2 {
    font-size: 5rem;
  }
  &.h3 {
    font-size: 3rem;
    letter-spacing: -0.1rem;
  }
}
