.caption {
  position: relative;
  width: 100%;
  display: block;
  .caption-line-wrap {
    position: relative;
    display: block;
    width: 100%;
    display: block;
    overflow: hidden;
    .text-line {
      transform-origin: top left;
      position: relative;
      display: block;
    }
  }
  &.h1 {
    font-size: 8rem;
    letter-spacing: -0.3rem;
  }
  &.h2 {
    font-size: 6rem;
    letter-spacing: -0.2rem;
  }
  &.h3 {
    font-size: 3rem;
    letter-spacing: -0.1rem;
  }
}
