.footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem 3rem 4rem;
  font-size: 0.85rem;
}

.footer-nav ul {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
}

@include media("<tablet") {
  .footer {
    justify-content: center;
    padding: 0 3rem 3rem 3rem;
    font-size: 0.8rem;
    .footer-nav ul {
      gap: 1rem;
    }
  }
}
