.footer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem 3rem 4rem;
}

.footer-nav ul {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
}
