.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3.3rem 4rem 0 4rem;
  z-index: 2;
  .header-logo {
    margin-left: 4rem;
    transform: translateY(0.6rem);
  }

  @include media("<=tablet") {
    padding: 3.3rem 4rem 0 4rem;
  }
  @include media("<=phone") {
    padding: 2.2rem 1.5rem 0 1.5rem;
  }
}

.header-nav ul {
  position: absolute;

  line-height: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  li {
    position: relative;
    display: block;
  }
  @include media("<=phone") {
    display: none;
  }
}

.header-touch {
  position: relative;
  cursor: pointer;
  line-height: 0;
  border: 1px solid $color-middle;
  border-radius: 3rem;
  padding: 1.3rem 1.7rem;
}
