.hero {
  position: relative;
  width: 100%;
  padding: 50vh 0 5rem 0;
  text-align: center;
  @include media("<=phone") {
    padding: 16rem 0 5rem 0;
    text-align: left;
  }
}

.hero-title {
  font-family: $default-ff;
  font-size: 7rem;
  display: block;
  margin-bottom: 2rem;
  @include media("<=phone") {
    font-size: 4.5rem;
  }
}

.hero-subtitle {
  font-family: $default-ff;
  font-weight: 400;
  font-size: 1rem;
  display: block;
}
