.marquee-wrapper {
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
  user-select: none;
}
.marquee-text {
  font-size: 10rem;
  display: inline-block;
  -webkit-text-stroke: 1px rgb(128, 128, 128);
  color: transparent;
  opacity: 0.2;
}
