.portfolio {
  position: relative;
  width: 100%;
  margin-bottom: 10rem;
  hr {
    opacity: 0.2;
  }
}

.portfolio-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}

.portfolio-item {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0;
}

.portfolio-item-title-title {
  position: relative;
  display: flex;
}

.portfolio-item-meta {
  position: relative;
  width: 100%;
  text-align: right;
  margin-bottom: 1rem;
}

.portfolio-item-image {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}

.portfolio-item-image-transition {
  position: absolute;
  top: -2%;
  right: 0;
  height: 104%;
  width: 100%;
  z-index: 2;
  &.transition-1 {
    background-color: $white;
  }
  &.transition-2 {
    background-color: $light;
  }
}
