.marquee {
  position: relative;
  top: -15rem;
  padding-top: 14rem;
}

.marquee-wrapper {
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
  user-select: none;
}
.marquee-text {
  font-size: 10rem;
  display: inline-block;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  color: transparent;
  opacity: 0.2;
}

section.hero {
  position: relative;
  width: 100%;
  padding: 15rem 0;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .hero-title {
    position: relative;
    font-family: $title-ff;
    font-size: 6rem;
    text-align: center;
    margin: 0 auto;
    line-height: 1.2;
    width: 100%;
    max-width: 70%;

    @include media("<=tablet") {
      font-size: 5rem;
      max-width: 100%;
    }
    @include media("<=phone") {
      font-size: 3.2rem;
      max-width: 100%;
      text-align: left;
      left: 0;
    }
  }
  .hero-button-wrap {
    position: absolute;
    left: -10%;
    bottom: -6rem;
    cursor: default;
    user-select: none;
  }
}

section.about {
  position: relative;
  width: 100%;
  padding-bottom: 10rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  @include media("<=tablet") {
    text-align: left;
  }
}

section.section-head {
  position: relative;
  width: 100%;
  padding-top: 10rem;
  .section-head-title {
    font-size: 5rem;
    font-family: $title-ff;
    font-weight: 400;
    width: 100%;
    .text-line-wrap {
      position: relative;
      overflow: hidden;
      margin-right: 1rem;
    }
  }
  .container.-center {
    text-align: center;
  }
}

section.prefooter {
  position: relative;
  width: 100%;
  padding: 10rem 0 0 0;
  background-color: $black;
  color: $white;
  z-index: -1;

  .prefooter-touch {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $black;
    z-index: 3;
    &:hover + .marquee .marquee-text {
      transition: color 0.4s ease-out;
      color: $white;
      opacity: 0.1;
    }
    &::before {
      content: "";
      position: absolute;
      width: 20rem;
      height: 20rem;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      width: 10rem;
      height: 10rem;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      background-color: $white;
      z-index: -1;
    }
  }
}

section.portfolio {
  position: relative;
  width: 100%;
  padding-bottom: 10rem;
  .portfolio-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .portfolio-item {
      position: relative;
      width: 100%;
      height: 120vh;
      margin-bottom: 5rem;
    }
  }
}

section.services {
  position: relative;
  padding-bottom: 10rem;
  hr {
    opacity: 0.37;
  }
  .services-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .services-item {
      position: relative;
      width: 100%;
      padding: 5rem 0;
      display: flex;
      flex-wrap: wrap;
      .services-item-image {
        position: absolute;
        width: 10rem;
        height: 10rem;
        left: 27%;
        z-index: -1;
        overflow: hidden;
        video {
          height: 100%;
          object-fit: cover;
        }
      }
      .services-item-meta {
        position: relative;
        width: 45%;
        padding-right: 10rem;
        @include media("<=phone") {
          width: 100%;
        }
      }
      .services-item-number {
        color: $color-middle;
      }
      .services-item-title {
        position: relative;
        font-size: 2rem;
      }

      .services-item-right-wrapper {
        position: relative;
        width: 45%;
        @include media("<=phone") {
          width: 100%;
          margin-top: 4rem;
        }
      }

      .services-item-list {
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 2rem;
      }
      .services-item-list-item {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        padding: 0 1rem;
        border: 1px solid $color-middle;
        border-radius: 10rem;
        &:hover {
          background-color: $black;
          color: $white;
          transition: all 0.2s ease-in-out;
        }
      }

      .services-item-read {
        position: relative;
        margin-top: 3rem;
      }

      .services-item-hr-wrapper {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
      }
    }
  }
}

section.image-section {
  position: relative;
  width: calc(100% - 6rem);
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  @include media("<=phone") {
    height: 70vh;
  }
  .image-section-container {
    position: relative;
    height: 100%;
    width: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-scroll-wrapper {
  position: relative;
  height: 100vh;
}

section.error404 {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  a {
    text-decoration: underline;
    margin-left: 0.5rem;
    &:hover {
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;
    }
  }
}
