.services {
  position: relative;
  margin-bottom: 10rem;
  hr {
    opacity: 0.2;
  }
}
.services-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.services-item {
  position: relative;
  width: 100%;
  padding: 5rem 0;
  display: flex;
  flex-wrap: wrap;
}

.services-item-meta {
  position: relative;
  width: 45%;
  padding-right: 10rem;
  @include media("<=phone") {
    width: 100%;
  }
}
.services-item-number {
  color: $color-middle;
}
.services-item-title {
  position: relative;
  font-size: 2rem;
}

.services-item-right-wrapper {
  position: relative;
  width: 45%;
  @include media("<=phone") {
    width: 100%;
    margin-top: 4rem;
  }
}

.services-item-list {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.services-item-list-item {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding: 0 1rem;
  border: 1px solid $color-middle;
  border-radius: 10rem;
  &:hover {
    background-color: $black;
    color: $white;
    transition: all 0.2s ease-in-out;
  }
}

.services-item-read {
  position: relative;
  margin-top: 3rem;
}

.services-item-hr-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
