.header {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  padding: 3.8rem 4rem 0 4rem;
  z-index: 2;
  color: $white;
  mix-blend-mode: difference;
  text-transform: uppercase;
  line-height: 0;

  @include media("<=tablet") {
    padding: 2.5rem 4rem 0 4rem;
  }
  @include media("<=phone") {
    padding: 1.1rem 1.1rem 0 1.5rem;
  }
}

.header-logo {
  position: relative;
  text-transform: uppercase;
}
.header-nav {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  ul {
    position: relative;
    display: flex;
    gap: 3rem;
  }
  @include media("<=tablet") {
    display: none;
  }
}

.header-nav-socials ul {
  position: relative;
  line-height: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
  li {
    position: relative;
  }
  @include media("<=phone") {
    display: none;
  }
}
