@font-face {
  font-family: "Stanger";
  src: url("../utils/fonts/stanger/Stanger.woff") format("woff"),
    url("../utils/fonts/stanger/Stanger.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ApercuPro";
  src: url("../utils/fonts/apercu/ApercuPro-Bold.woff") format("woff"),
    url("../utils/fonts/apercu/ApercuPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ApercuPro";
  src: url("../utils/fonts/apercu/ApercuPro-Medium.woff") format("woff"),
    url("../utils/fonts/apercu/ApercuPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ApercuPro";
  src: url("../utils/fonts/apercu/ApercuPro-Regular.woff") format("woff"),
    url("../utils/fonts/apercu/ApercuPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
