@charset "UTF-8";

@import "vendors/include-media.scss";
@import "vendors/locomotive.scss";

@import "base/variables.scss";
@import "base/fonts.scss";
@import "base/base.scss";

@import "components/_cursor.scss";
@import "components/_button.scss";
@import "components/_footer.scss";
@import "components/_header.scss";
@import "components/_menu.scss";
@import "components/loader.scss";
@import "components/_sections.scss";
@import "components/paragraph.scss";
@import "components/_caption.scss";

.ui {
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 5rem;
  padding: 2rem;
  width: 60rem;
  border: 1px solid #000;
}
