$title-ff: "ApercuPro";
$default-ff: "ApercuPro";

$white: rgb(19, 19, 19);
$light: #222222;
$black: rgb(253, 253, 253);
$dark: rgb(240, 240, 240);
$color-middle: rgb(122, 122, 122);
$color-gray-pink: rgb(239, 239, 236);
