$title-ff: "Stanger", sans-serif;
$default-ff: "ApercuPro", sans-serif;

$color-theme: rgb(226, 208, 186);
$white: rgb(255, 255, 255);
$light: #ebebeb;
$black: rgb(0, 0, 0);
$dark: rgb(26, 26, 26);
$color-middle: rgb(122, 122, 122);
$color-gray-pink: rgb(231, 223, 214);
