section.about {
  position: relative;
  width: 100%;
  padding-bottom: 30rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  .paragraph {
    margin-bottom: 2rem;
  }
  @include media("<=tablet") {
    text-align: left;
  }
  .about-img {
    position: absolute;
    overflow: hidden;
    picture {
      position: absolute;
      width: 100%;
      height: 100%;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &.-one {
      left: -4rem;
      top: -30rem;
      width: 33rem;
      height: 20rem;
    }
    &.-two {
      right: -13rem;
      top: -20rem;
      width: 20rem;
      height: 30rem;
    }
    &.-three {
      left: 13rem;
      top: 5rem;
      width: 20rem;
      height: 26rem;
    }
  }
}

section.section-head {
  position: relative;
  width: 100%;
  padding-top: 10rem;
  .section-head-title {
    font-size: 5rem;
    font-family: $title-ff;
    font-weight: 400;
    width: 100%;
    .text-line-wrap {
      position: relative;
      overflow: hidden;
      margin-right: 1rem;
    }
  }
  .container.-center {
    text-align: center;
  }
}

section.portfolio {
  position: relative;
  width: 100%;
  padding-bottom: 10rem;
  .portfolio-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
    flex-wrap: wrap;
    .portfolio-item {
      position: relative;
      width: 47%;
      height: 60vh;
      margin-bottom: 5rem;
      @include media("<=tablet") {
        width: 100%;
        height: 100%;
      }
    }
  }
  .archive {
    margin-top: 15rem;
  }
  .portfolio-archive-hr {
    opacity: 0.2;
    margin-top: 4rem;
  }
  .portfolio-archive-wrapper {
    display: flex;
    flex-wrap: wrap;
    .portfolio-archive-item {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      padding: 2rem 0;
      .portfolio-archive-item-desc {
        max-width: 50%;
      }
      hr {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0.2;
      }
    }
  }
}

section.services {
  position: relative;
  padding-bottom: 10rem;
  hr {
    opacity: 0.17;
  }
  .services-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .services-item {
      position: relative;
      width: 100%;
      padding: 10rem 0;
      display: flex;
      flex-wrap: wrap;
      .services-item-image {
        position: absolute;
        width: 10rem;
        height: 10rem;
        left: 27%;
        z-index: -1;
        overflow: hidden;
        video {
          height: 100%;
          object-fit: cover;
        }
      }
      .services-item-meta {
        position: relative;
        width: 45%;
        padding-right: 10rem;
        @include media("<=phone") {
          width: 100%;
        }
      }
      .services-item-number {
        color: $color-middle;
      }

      .services-item-right-wrapper {
        position: relative;
        width: 65%;
        max-width: 45rem;
        @include media("<=phone") {
          width: 100%;
          margin-top: 4rem;
        }
      }

      .services-item-list {
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 2rem;
      }
      .services-item-list-item {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        padding: 0 1rem;
        border: 1px solid $color-middle;
        border-radius: 10rem;
        &:hover {
          background-color: $black;
          color: $white;
          transition: all 0.2s ease-in-out;
        }
      }

      .services-item-read {
        position: relative;
        margin-top: 3rem;
      }

      .services-item-hr-wrapper {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
      }
    }
  }
}

section.image-section {
  position: relative;
  width: calc(100% - 6rem);
  height: 100vh;
  overflow: hidden;
  margin: 20rem auto;
  @include media("<=phone") {
    height: 70vh;
  }
  .image-section-container {
    position: relative;
    height: 100%;
    width: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-scroll-wrapper {
  position: relative;
  height: 100vh;
}

section.error404 {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  a {
    text-decoration: underline;
    margin-left: 0.5rem;
    &:hover {
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;
    }
  }
}
