*,
*:after,
*:before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

::selection {
  background: $black;
  color: $white;
}

html {
  @include media("<=phone") {
    font-size: 14px;
  }
  @include media(">phone", "<=tablet") {
    font-size: 14px;
  }
  @include media(">tablet", "<=laptop") {
    font-size: 14px;
  }
  @include media(">laptop", "<=desktop") {
    font-size: 16px;
  }
  @include media(">desktop", "<=quad") {
    font-size: 28px;
  }
  @include media(">quad") {
    font-size: 42px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  font-family: $default-ff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: $black;
  background-color: $white;
}

main {
  background-color: $white;
}

section {
  background-color: $white;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-ff;
  letter-spacing: -0.2rem;
}

p {
  position: relative;
  line-height: 1;
  margin: 0.7rem 0;
}

.container {
  position: relative;
  width: 100%;
  &.-full {
    max-width: calc(100% - 8rem);
    margin: 0 auto;
    @include media("<=tablet") {
      max-width: calc(100% - 8rem);
    }
    @include media("<=phone") {
      max-width: calc(100% - 3rem);
    }
  }
  &.-center {
    max-width: calc(60% - 8rem);
    margin: 0 auto;
    @include media("<=tablet") {
      max-width: calc(70% - 8rem);
      margin-left: 4rem;
    }
    @include media("<=phone") {
      max-width: calc(100% - 3rem);
      margin-left: 1.5rem;
    }
  }
  &.-right {
    max-width: calc(60% - 10rem);
    margin-left: calc(50% - 10rem);
    @include media("<=tablet") {
      max-width: calc(70% - 8rem);
      margin-left: 4rem;
    }
    @include media("<=phone") {
      max-width: calc(100% - 3rem);
      margin-left: 1.5rem;
    }
  }
  &.-left {
    max-width: 46%;
    margin-left: 4rem;
    @include media("<=tablet") {
      max-width: calc(70% - 8rem);
      margin-left: 4rem;
    }
    @include media("<=phone") {
      max-width: calc(100% - 3rem);
      margin-left: 1.5rem;
    }
  }
}
